.feedback {
  width: 100%;
  padding-block-end: ptrm(200);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include mobile {
    padding-block-end: ptrm(60);
  }

  &__inner {
    display: flex;
    gap: ptrm(40);
    flex-direction: column;

    @include mobile {
      gap: ptrm(30);
      align-items: center;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    gap: ptrm(35);
    align-items: center;

    @include mobile {
      align-items: center;
      flex-direction: column;
    }
  }

  &__form {
    display: grid;
    gap: ptrm(30);
    grid-template-columns: repeat(3, ptrm(255));

    @include mobile {
      width: 100%;
      max-width: ptrm(300);
      display: flex;
      gap: ptrm(20);
      flex-direction: column;
    }

    &-text {
      color: #E7E7E7;
      font-size: ptrm(13);
      font-family: "Raleway-Regular";
      line-height: 150%;
      text-align: center;

      @include mobile {
        max-width: ptrm(300);
      }
    }
  }

  &__input {
    @include mobile {
     + .input__placeholder {
        font-size: ptrm(12);
      }

    &:not(:placeholder-shown) + .input__placeholder,
    &:focus-visible + .input__placeholder,
    &:-webkit-autofill + .input__placeholder {
        transform: translateY(ptrm(-18));
      }
    }
  }
}