.about {
  $min-height: ptrm(840);

  width: 100%;
  min-height: $min-height;
  position: relative;

  & * {
    z-index: 2;
  }
 
  &__inner {
    width: 100%;
    min-height: $min-height;
    padding-block: ptrm(30) ptrm(75);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    @include mobile {
      padding-block-end: ptrm(60);
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: ptrm(0);
    left: ptrm(0);
    z-index: 1;
    display: inline-block;
    pointer-events: none;
    background: linear-gradient(180deg, #242B33 11%, rgba(45, 52, 60, 0.38) 51%, #242B33 92%), url("imgs/about/about.webp") lightgray 50% / cover no-repeat;
  }

  &__main {
    display: flex;
    gap: ptrm(80);
    align-items: center;
    flex-direction: column;

    @include mobile {
      gap: ptrm(30);
    }
  }

  &__title {
    text-align: center;
  }

  &__address {
    display: flex;
    gap: ptrm(100);
    align-items: center;
    justify-content: center;

    @include mobile {
      gap: ptrm(20);
      flex-direction: column;
    }

    &-row {
      display: flex;
      gap: ptrm(15);
      align-items: center;
      justify-content: center;
      font-size: ptrm(18);
      font-style: normal;
      font-family: "Raleway-Regular";
    }

    &-text {
      @include mobile {
        white-space: nowrap;
      }
    }
  }
}