.button {
  color: #343434;
  min-height: ptrm(50);
  padding: ptrm(15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-family: "Raleway-Bold";
  background-color: $color-main;
  text-shadow: ptrm(0) ptrm(1) ptrm(2) rgba(0, 0, 0, 0.5);
  @include trns;

  @include hover {
    background-color: rgba($color-main, 0.5);
  }

  &:active {
    scale: $scale;
  }
}