<header class="header" data-js-header>
 <div class="header__inner">
  <a class="logo" href="index.html" data-tippy-content="На главную">
   <img class="logo__image" src="imgs/logo/logo.png" alt="LoftHouse">
   <span class="visually-hidden">На главную</span>
  </a>
  <div class="header__menu" data-js-header-menu>
   <div class="header__menu-inner">
    <nav class="header__nav">
     <ul class="header__list">
      <li class="header__list-item">
       <a class="header__link" href="#!">О комплексе</a>
      </li>
      <li class="header__list-item">
       <a class="header__link" href="#!">Район</a>
      </li>
      <li class="header__list-item">
       <a class="header__link" href="#!">Каталог квартир</a>
      </li>
      <li class="header__list-item">
       <a class="header__link" href="#!">Ипотека</a>
      </li>
      <li class="header__list-item">
       <a class="header__link" href="#!">Контакты</a>
      </li>
     </ul>
    </nav>
   </div>
  </div>
  <button class="header__menu-button visible-mobile" data-js-header-menu-button>
   <span class="header__menu-icon" data-js-header-menu-icon>
    <span class="header__menu-icon-line"></span>
    <span class="header__menu-icon-line"></span>
    <span class="header__menu-icon-line"></span>
   </span>
   <span class="visually-hidden">Открыть меню</span>
  </button>
 </div>
</header>