<footer class="footer">
 <div class="footer__inner container">
  <a class="logo" href="index.html" data-tippy-content="На главную">
   <img class="logo__image" src="imgs/logo/logo.png" alt="LoftHouse">
   <span class="visually-hidden">На главную</span>
  </a>
  <div class="footer__content">
   <div class="footer__links">
    <nav class="footer__nav">
     <ul class="footer__list">
      <li class="footer__list-item">
       <a class="footer__link" href="#!">О комплексе</a>
      </li>
      <li class="footer__list-item">
       <a class="footer__link" href="#!">Район</a>
      </li>
      <li class="footer__list-item">
       <a class="footer__link" href="#!">Каталог квартир</a>
      </li>
      <li class="footer__list-item">
       <a class="footer__link" href="#!">Ипотека</a>
      </li>
      <li class="footer__list-item">
       <a class="footer__link" href="#!">Контакты</a>
      </li>
     </ul>
    </nav>
    <div class="footer__links-row">
     <nav class="footer__nav">
      <ul class="footer__list">
       <li class="footer__list-item">
        <a class="footer__link" href="#!">Поселение и переезд</a>
       </li>
       <li class="footer__list-item">
        <a class="footer__link" href="#!">Сервисные услуги</a>
       </li>
       <li class="footer__list-item">
        <a class="footer__link" href="#!">Экологическая устойчивость</a>
       </li>
       <li class="footer__list-item">
        <a class="footer__link" href="#!">Инвестиционные возможности</a>
       </li>
       <li class="footer__list-item">
        <a class="footer__link" href="#!">Программа лояльности</a>
       </li>
      </ul>
     </nav>
     <div class="footer__links-column">
      <ul class="footer__list">
       <li class="footer__list-item">
        <address class="footer__links-text">Адрес: Наб. реки Фонтанки 10-15</address>
       </li>
       <li class="footer__list-item">
        <span class="footer__links-text">Телефон:</span> <a class="footer__link" href="tel:+78121234567">8 (812) 123-45-67</a>
       </li>
       <li class="footer__list-item">
        <span class="footer__links-text">Отдел продаж: 10:00 - 20:00</span>
       </li>
       <li class="footer__list-item">
        <span class="footer__links-text">E-mail:</span> <a class="footer__link email" href="mailto:vip@lofthouse.ru">vip@lofthouse.ru</a>
       </li>
      </ul>
      <div class="footer__socials">
       <nav class="footer__socials-nav">
        <ul class="footer__socials-list">
         <li class="footer__socials-list-item">
          <a class="footer__socials-link" href="#!" data-tippy-content="YouTube">
           <span class="visually-hidden">YouTube</span>
           <span class="footer__socials-link-icon icon youtube"></span>
          </a>
         </li>
         <li class="footer__socials-list-item">
          <a class="footer__socials-link" href="#!" data-tippy-content="ВКонтакте">
           <span class="visually-hidden">ВКонтакте</span>
           <span class="footer__socials-link-icon icon vk"></span>
          </a>
         </li>
         <li class="footer__socials-list-item">
          <a class="footer__socials-link" href="#!" data-tippy-content="Facebook">
           <span class="visually-hidden">Facebook</span>
           <span class="footer__socials-link-icon icon facebook"></span>
          </a>
         </li>
         <li class="footer__socials-list-item">
          <a class="footer__socials-link" href="#!" data-tippy-content="Instagram">
           <span class="visually-hidden">Instagram</span>
           <span class="footer__socials-link-icon icon instagram"></span>
          </a>
         </li>
        </ul>
       </nav>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>