@font-face {
  font-family: "PlayfairDisplay-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Raleway/Raleway-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Raleway/Raleway-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Roboto/Roboto-Light.woff2") format("woff2");
}